header {
    background-color:#372948;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 62em;
    height: 3em;
    left: 10.5em;
    top: 3em;
    z-index: 10;
    margin: 0;
}

header nav ul li img{
    height: 10em;
    border-radius: 180%;
    position: absolute;
    width: 8em;
    height: 8em;
    left: -8.4em;
    top: -1.8em;
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    float: left;
}
header nav ul li a{
    color: white;
    font-size: 1.5em;
    font-style: normal;
    text-align:justify;
    margin-right: 1em;
    padding: 0.7em 0.5em;
    list-style: none;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
header nav ul li:hover {
    color: #ffcaca;
    font-weight: bold;
}


header nav ul li .imgbuy{
    height: 2em;
    border-radius: 180%;
    position: absolute;
    width: 3em;
    height: 3em;
    left: 56em;
    top: 0.8em;
}

header nav ul li .imguser{
    height: 2em;
    border-radius: 180%;
    position: absolute;
    width: 3em;
    height: 3em;
    left: 60em;
    top: .8em;
}
