header {
    background-color:#372948;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 62em;
    height: 3em;
    left: 10.5em;
    top: 3em;
    z-index: 10;
    margin: 0;
}

header nav ul li img{
    border-radius: 180%;
    position: absolute;
    width: 8em;
    height: 8em;
    left: -8.4em;
    top: -1.8em;
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    float: left;
}
header nav ul li a{
    color: white;
    font-size: 1.5em;
    font-style: normal;
    text-align:justify;
    margin-right: 1em;
    padding: 0.7em 0.5em;
    list-style: none;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
header nav ul li:hover {
    color: #ffcaca;
    font-weight: bold;
}


header nav ul li .imgbuy{
    border-radius: 180%;
    position: absolute;
    width: 3em;
    height: 3em;
    left: 56em;
    top: 0.8em;
}

header nav ul li .imguser{
    border-radius: 180%;
    position: absolute;
    width: 3em;
    height: 3em;
    left: 60em;
    top: .8em;
}

@media screen and (max-width:851px) {
    header {
        display: flex;
        flex-direction:inherit;
        justify-content: flex-start;
        width: 20.5em;
        left: 0em;
        top: 9em;
    }
    header nav ul li img{
        left: 8em;
        top:-9em;
    }
    
    header nav ul li {
        float: none;
    }
    header nav ul li a{
        font-size: 0.8em;

    }
    
    header nav ul li .imgbuy{
        width: 2em;
        height: 2em;
        left: 18em;
        top: 1.3em;
    }
    
    header nav ul li .imguser{
        width: 2em;
        height: 2em;
        left: 21em;
        top: 1.3em;
    }
}