header {
    background-color:#372948;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    min-width: 65vh;
    min-height: 10vh;
    z-index: 10;
    margin-top: 3em;
}

header nav ul li img{
    border-radius: 180%;
    position: absolute;
    width: 8em;
    height: 8em;
    top: -2.5em;
    left: 1em;
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    float: left;
}
header nav ul li a{
    color: white;
    font-size: 1.5em;
    font-style: normal;
    text-align:justify;
    margin-right: 1em;
    list-style: none;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
header nav ul li:hover {
    color: #ffcaca;
    font-weight: bold;
}


header nav ul li .imgbuy{
    border-radius: 180%;
    position: absolute;
    width: 2.7em;
    height: 2.7em;
    left: 68em;
    top: .3em;
}

header nav ul li .imguser{
    border-radius: 180%;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    left: 72em;
    top: .4em;
}

@media screen and (max-width:767px) {
    header {
        display: flex;
        flex-direction:inherit;
        justify-content: flex-start;
        min-height: 10vh;
    }
    header nav ul li img{
        left: 9em;
        top:4em;
    }
    
    header nav ul li {
        float: left;
    }
    header nav ul li a{
        font-size: 0.8em;
        margin-left: 0.5em;
    }
    
    header nav ul li .imgbuy{
        width: 2em;
        height: 2em;
        left: 22em;
        top: 0.6em;
    }
    
    header nav ul li .imguser{
        width: 2em;
        height: 2em;
        left: 24.5em;
        top: 0.6em;
    }
}