main{
    background-color: #D9D9D9;
    position:static;
}

.section {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*Sobre Nosotros*/
.nos {
    color: #372948;
    font-size: 50px;
    position: absolute;
    height: 20em;
    left: 9.2em;
    top: 3.5em;
    z-index: 10;
}

#historia {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 60vh;
    position: relative;
}

.text {
    position: absolute;
    width: 54em;
    height: 10em;
    left: 11em;
    top: 16em;
    background-color: rgba(0,0,0, .5);
    color: #fff;
    padding: 25px 25px;
    border-radius: 18px;
}

/*Productos*/

#productos{
    background-color: #898989;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 116vh;
    position: relative;
    height: 0em;
    left: 0em;
    top: 11em;
    z-index: 10;
}
.productos {
    color: #372948;
    font-size: 50px;
    position: absolute;
    width: 20em;
    height: 20em;
    left: 10.5em;
    top: 1em;
    z-index: 10;
}

main .imgagenda {
    position: absolute;
    width: 19em;
    height: 32em;
    left: 0.25em;
    top: 9em;
}

main .imgpizarra {
    position: absolute;
    width: 19em;
    height: 32em;
    left: 19.25em;
    top: 9em;
}

main .imgutiles {
    position: absolute;
    width: 19em;
    height: 32em;
    left: 38.25em;
    top: 9em;
}

main .imgplanners {
    position: absolute;
    width: 19em;
    height: 32em;
    left: 57.25em;
    top: 9em;
}

/*atajos*/

main div {
    background-color:#aaaaaa;
    padding: 5px 0px;
    position: absolute;
    width: 76.5em;
    height: 4em;
    left: 0em;
    top: 38em;
}

main div ul{
    list-style-type:circle;
}

main div ul li {
    color: black;
    font-family: "lobster two";
    font-size: 2.2em;
    font-style: normal;
    float: left;
    text-align:justify;
    margin-left: 0em;
    margin-right: 0em;
    padding: 0.4em 2.605em;
    list-style: none;
    transition: background-color 0.2;
    cursor:pointer;
    display:inline-flex;
}

main div ul li:hover {
    color:#ffffff;
}

/*Detail Products*/

#producto1 {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 106vh;
    position: relative;
}

.imgP1 {    
    position: absolute;
    width: 18em;
    height: 20em;
    left: 7em;
    top: 20em;
}
.description {
    position: absolute;
    width: 40em;
    height: 35.8em;
    left: 33.1em;
    top: 11em;
    background-color: rgba(0,0,0, .5);
    padding: 25px 25px;
}

.title {
    text-align: center;
    color:#D9D9D9;
    font-style: oblique;
}

.textdesc {
    text-align: justify;
    padding: 5em;
}
.botonPago {
    position: absolute;
    width: 40em;
    height: 10.2em;
    left: 33.1em;
    top: 36.75em;
    background-color: #FFCACA;
    padding: 25px 25px;
}

.carrito {
    position: absolute;
    padding: 5px 10px; 
    border: 1;
    border-color: #4b3566;
    border-radius: 32px;
    line-height: 1.5;
    font-size: 1.5em;
    left: 18em;
    top: 2em;
    color: #372948;
    background-color: #D9D9D9;
    text-align: center;
    transition: background-color 0.2;
    cursor:pointer;
    display:inline-flex;
}

.carrito:hover {
    text-shadow: 2px 2px 2px #f99d9d;
}

.compra {
    position: absolute;
    padding: 5px 10px; 
    border: 1;
    border-color: #4b3566;
    border-radius: 32px;
    line-height: 1.5;
    font-size: 1.5em;
    left: 20em;
    top: 5em;
    color: #372948;
    background-color: #D9D9D9;
    text-align: center;
    transition: background-color 0.2;
    cursor:pointer;
    display:inline-flex;
}

.compra:hover {
    text-shadow: 2px 2px 2px #f99d9d;
}

.cantidad {
    size: 1.5em;
    font-family: "Raleway";
}
/*Medios de pago*/

#pago{
    background-color:#898989;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 70vh;
    position: relative;
    height: 5em;
    left: 0em;
    top: 11em;
    z-index: 10;
}

.pago {
    color: #372948;
    font-size: 50px;
    position: absolute;
    width: 20em;
    height: 20em;
    left: 9em;
    top: 1em;
    z-index: 10;
}


.mc {
    position: absolute;
    width: 5em;
    height: 4em;
    left: 29em;
    top: 158px;
    z-index: 10;
}

.visa {
    position: absolute;
    width: 5em;
    height: 5em;
    left: 37.5em;
    top: 150px;
    z-index: 10;
}

.mp {
    position: absolute;
    width: 7em;
    height: 7em;
    left: 45em;
    top: 143px;
    z-index: 10;
}

@media screen and (max-width: 851px) {
   
    .nos {
        font-size: 30px;
        left: 3em;
        top: 8.5em;
    }
    
    #historia {
        min-height: 55vh;
    }
    
    .text {
        width: 15em;
        height: 15em;
        left: 3.5em;
        top: 19em;
        padding: 20px 20px;
    }
    
    /*Productos*/
    
    #productos{
        min-height: 210vh;
    }
    .productos {
        font-size: 30px;
        width: 20em;
        height: 20em;
        left: 4em;
        top: 1em;
    }
    
    main .imgagenda {
        width: 24.6em;
        height: 20em;
        left: 0em;
        top: 20em;
    }
    
    main .imgpizarra {
        width: 24.6em;
        height: 25em;
        left: 0em;
        top: 40.5em;
    }
    
    main .imgutiles {
        width: 24.6em;
        height: 20em;
        left: 0em;
        top: 66em;
    }
    
    main .imgplanners {
        width: 24.6em;
        height: 20em;
        left: 0em;
        top: 86.5em;
    }
    
    /*atajos*/
    
    main div {
        width: 24.4em;
        height: 15em;
        top: 5em;
    }
    
    main div ul li {
        color: black;
        font-family: "lobster two";
        font-size: 2em;
        width: 5em;
        height: 1;
        left: 2em;
    }
    
    main div ul li:hover {
        color:#ffffff;
    }
    
    /*Detail Products*/
    
    #producto1 {
        flex-direction: row;
        min-height: 130vh;
    }
    
    .imgP1 {    
        width: 18em;
        height: 20em;
        left: 3.2em;
        top: 15em;
    }
    .description {
        width: 21.5em;
        height: 20em;
        left: 0em;
        top: 38em;
    }

    .textdesc {
        text-align: justify;
        padding: 1em;
    }

    .botonPago {
        width: 21.6em;
        height: 17em;
        left: 0em;
        top:60em;
    }
    
    .carrito {
        font-size: 1em;
        left: 8em;
        top: 13em;
    }
    
    .carrito:hover {
        text-shadow: 2px 2px 2px #f99d9d;
    }
    
    .compra {
        font-size: 1em;
        left: 10em;
        top: 16em;
    }
    
    /*Medios de pago*/
    
    #pago{
        min-height: 20vh;
    }
    
    .pago {
        font-size: 30px;
        left: 3em;
    }
    
    
    .mc {
        width: 3em;
        height: 2em;
        left: 7em;
        top: 6em;
    }
    
    .visa {
        width: 3em;
        height: 3em;
        left: 11em;
        top: 5.5em;
    }
    
    .mp {
        width: 4em;
        height: 4em;
        left: 14.2em;
        top: 5.2em;
    } 
}